@page "/aboutme"

<PageTitle>About MadBy</PageTitle>

<h3>Hi, I am Madilyn Bystedt!</h3>

<div style="padding-top: 20px;">
    <div class="row">
        <div class="col-sm-2;" style="display: inline;">
            <img class="myimage" src="images/linkedinprofile.png" alt="Picture of Madde"/> 
            <p class="myinfo">
            I am a software developer with a B.Sc. in Mechatronics at Chalmers University of Technology. I have experience in several areas and programming techniques, such as coding and testing with Python, Robotframework; GUI-creator with C# in WPF/Xaml, Html/Css and coding in C/C++. A kind of a hybrid-programmer, with many skills. 
            I also have experience working with setup and administrate servers with tools such as Jenkins, Gerrit, Git, Jira and others.
            OS: Linux and Windows.
            </p>
        </div>
    </div>
    <div class="col-sm-2;" style="padding-top: 20px;">
        <div class="instagram" style="display: inline;">
            <NavLink href="https://instagram.com/madde.sw.tech/" target="_blank" alt="Instagram">
                <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" width="25px" height="25px"/> 
            </NavLink>
            <span>Follow me on Instagram</span>
        </div>
    </div>
</div>


@code {
//Insert code here
}

