@page "/aboutme"

<PageTitle>About MadBys</PageTitle>

<h1>MadByIt</h1>

<div>
    <div class="row">  
        <div class="col-sm-2">  
            <p>Enter your name</p>  
        </div>  
        <div class="col-sm-3">  
            <input class="textbox-in" placeholder="Enter Name" @bind="inputName" />
            <button class="btn btn-submithello" @onclick="HelloName">Submit</button>
        </div>
        <br>
        <div>
            <output>Hello: <span style="color: purple">@InputName</span></output>
        </div>
    </div>
</div>

@code {

    private string? inputName;

    private string? InputName { get; set; }
    private void HelloName()
    {
        InputName = inputName;
    }
}

