@page "/"

<PageTitle>MadByBlazor</PageTitle>

<div>
    <h1>Welcome!</h1>
    <h3>I am Madilyn (MadBy) 
        and this is my Blazor application.</h3>
    <p>This app is intended for me to practice coding in Blazor.</p>
</div>

@code {
//code
}