@page "/story"

<PageTitle>Story Telling</PageTitle>
Welcome to setup a story by using field below.

<div>
  <br style="clear:both;"/>
  <div style="width: 50%; float:left;">
    <div style="padding-bottom: 20px;">
      <h3>Story setup</h3>
    </div>
    <div style="padding-bottom: 20px;">  
      <input class="textbox-in" placeholder="Input" @bind="storyInputText" />
      <button class="btn btn-addtext" @onclick="AddStoryInputText">Add</button>
    </div>
    <div class="ddlist-prof" style="display: flex; padding-bottom: 20px;">
      <SfDropDownList TValue="string" TItem="Profession" PopupHeight="350px" PopupWidth="300px" Placeholder="Select a developer profession" DataSource="@LocalData">
        <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
      </SfDropDownList>
    </div>
    <div style="padding-bottom: 20px;">
      <button class="btn btn-primary" @onclick="IncrementCount"><span style="color:black">Click counter</span></button>
      <p role="status">Current count: @currentCount</p>
    </div>
  </div>
  <div style="width: 50%; float:right; padding-bottom: 20px;">
    <h2>The story</h2>
    <p>Sum-sum.</p>
  </div>
</div>


@code {
/*
* Note: 'public string?' is used to get rid of missing null-ref
*/
  private string? storyInputText;

  private string? StoryInputText { get; set; }

  private void AddStoryInputText()
  {
      StoryInputText = storyInputText;
      Console.WriteLine("Input  was: " + StoryInputText);
  }

  public class Profession
  {  
    public string? ID { get; set; }
    public string? Text { get; set; }
  }

  List<Profession> LocalData = new List<Profession> {
    new Profession() { ID= "Profession1", Text= "Software Designer" },
    new Profession() { ID= "Profession2", Text= "Web Developer" },
    new Profession() { ID= "Profession3", Text= "Frontend Developer" },
    new Profession() { ID= "Profession4", Text= "Backend Developer" },
    new Profession() { ID= "Profession5", Text= "Fullstack Developer" },
    new Profession() { ID= "Profession6", Text= "Embedded Developer" },
    new Profession() { ID= "Profession7", Text= "Android Developer" },
    new Profession() { ID= "Profession8", Text= "iOS Developer"},
    new Profession() { ID= "Profession9", Text= "Software Tester" },
    new Profession() { ID= "Profession10", Text= "DevOps Engineer"},
  };

  private int currentCount = 0;
  private void IncrementCount()
  {
      currentCount++;
  }
}