@page "/story"

<PageTitle>Story Telling</PageTitle>
Welcome to setup a minor story by using fields below.
On the right side we'll check on how my databinding went.

<div>
  <br style="clear:both;"/>
  <div style="width: 50%; float:left;">
    <div style="padding-bottom: 20px;">
      <h3>Story setup</h3>
    </div>
    <div style="padding-bottom: 20px;">  
      <input class="textbox-in" placeholder="Input" @bind="storyInputText" />
      <button class="btn btn-addtext" @onclick="AddStoryInputText">Add</button>
    </div>
    <div class="ddlist-prof" style="display: flex; padding-bottom: 20px;">
      <SfDropDownList TValue="string" TItem="Profession" PopupHeight="350px" PopupWidth="300px" Placeholder="Select a developer profession" DataSource="@ProfessionData" @bind-Value="@dropProfVal" >
        <DropDownListFieldSettings Value="SWTitle" Text="SWTitle"></DropDownListFieldSettings>
      </SfDropDownList>
    </div>
    <div style="padding-bottom: 20px;">
      <button class="btn btn-primary" @onclick="IncrementCount"><span style="color:black">Increment</span></button>
      <button class="btn btn-primary" @onclick="DecrementCount"><span style="color:black">Decrement</span></button>
      <p role="status">Current count: @currentCount</p>
    </div>
  </div>
  <div style="width: 50%; float:right; padding-bottom: 20px;">
    <h2>The story</h2>
    <p>Hi! My name is @storyInputText and I work as a/an @dropProfVal since @currentCount years.</p>
  </div>
</div>


@code {
/*
* Text
*/
  private string? storyInputText;
  private string? StoryInputText { get; set; }

  private void AddStoryInputText()
  {
      StoryInputText = storyInputText;
      Console.WriteLine("Input  was: " + StoryInputText);
  }

/*
* Profession
*/
private string? dropProfVal;

  public class Profession
  {  
    public string? SWTitle { get; set; }
  }

  List<Profession> ProfessionData = new List<Profession> {
    new Profession() { SWTitle = "Software Designer" },
    new Profession() { SWTitle = "Web Developer" },
    new Profession() { SWTitle = "Frontend Developer" },
    new Profession() { SWTitle = "Backend Developer" },
    new Profession() { SWTitle = "Fullstack Developer" },
    new Profession() { SWTitle = "Embedded Developer" },
    new Profession() { SWTitle = "Android Developer" },
    new Profession() { SWTitle = "iOS Developer"},
    new Profession() { SWTitle = "Software Tester" },
    new Profession() { SWTitle = "DevOps Engineer"},
  };

/*
* Counter
*/
  private int currentCount = 0;
  private void IncrementCount()
  {
      currentCount++;
  }
  private void DecrementCount()
  {
      currentCount--;
      if (currentCount < 0)
        currentCount = 0;
  }
}